.alpha {
  font-size: 36px;
}

.beta {
  font-size: 24px;
}

.gamma {
  font-size: 20px;
}

.delta {
  font-size: 18px;
}

.epsilon {
  font-size: 16px;
}

.font-weight-normal {
  font-weight: 400;
}

.font-weight-bold {
  font-weight: 700;
}

.font-style-italic {
  font-style: italic;
}

.text-color-zetch-orange {
  color: rgba(232, 101, 36, 1);
}

.text-color-zetch-dark-yellow {
  color: rgba(251, 182, 54, 1);
}

.text-color-zetch-light-yellow {
  color: rgba(251, 205, 49, 1);
}

.text-color-zetch-blue {
  color: rgba(19, 147, 155, 1);
}

.text-color-white {
  color: rgba(255, 255, 255, 1);
}

.text-color-black {
  color: rgba(0, 0, 0, 1);
}

.bg-color-zetch-orange {
  background-color: rgba(232, 101, 36, 1);
}

.bg-color-zetch-dark-yellow {
  background-color: rgba(251, 182, 54, 1);
}

.bg-color-zetch-light-yellow {
  background-color: rgba(251, 205, 49, 1);
}

.bg-color-zetch-blue {
  background-color: rgba(19, 147, 155, 1);
}

.bg-color-black {
  background-color: rgba(0, 0, 0, 1);
}
