.alpha {
    font-size: 36px;
  }

  .beta {
    font-size: 24px;
  }

  .gamma {
    font-size: 20px;
  }

  .delta {
    font-size: 18px;
  }

  .epsilon {
    font-size: 16px;
  }

  .font-weight-normal {
    font-weight: 400;
  }

  .font-weight-bold {
    font-weight: 700;
  }

  .font-style-italic {
    font-style: italic;
  }

  .text-color-zetch-orange {
    color: #E86524;
  }

  .text-color-zetch-dark-yellow {
    color: #FBB636;
  }

  .text-color-zetch-light-yellow {
    color: #FBCD31;
  }

  .text-color-white {
    color: white
  }

  .bg-color-zetch-orange {
    background-color: #E86524;
  }

  .bg-color-zetch-dark-yellow {
    background-color: #FBB636;
  }

  .bg-color-zetch-light-yellow {
    background-color: #FBCD31;
  }
